---
import Layout from '../../layouts/Layout.astro';
import { useTranslations } from '../../i18n/utils';

const t = useTranslations(Astro.currentLocale);
---
<Layout>
  <p>{t('home.greeting')}</p>
</Layout>
